html
	head
		link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		link(rel="stylesheet",href="/styles/customs.css")
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand.flex-grow-1.ml-5(href='#') Tini Book
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNav.collapse.navbar-collapse.d-flex.justify-content-end.mr-5
				ul.navbar-nav
					li.nav-item
						a.nav-link(href='/') Trang chủ
					li.nav-item
					if user
						a.nav-link(href='/users/view-user') Quản lý người dùng
					li.nav-item
						a.nav-link(href='/products') Sản phẩm
					if user
						.dropdown
							button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', value=user.name)
							.dropdown-menu(aria-labelledby='dropdownMenuButton') 
							a.dropdown-item(href='/users/information-user/'+user._id) Thông tin cá nhân
							a.dropdown-item(href='/change-password') Đổi mật khẩu
							a.dropdown-item(href='/users/logout') Đăng xuất
					else
						li.nav-item
							a.nav-link(href='/auth/login') Đăng nhập
					li.nav-item
						a.nav-link.btn.btn-outline-success(href='/cart') Giỏ hàng
						
		.container.pt-5
			block content