html
	head
		link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		link(rel="stylesheet",href="/styles/customs.css")
		script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')

	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand.flex-grow-1.ml-5(href='#') Tini Book
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNav.collapse.navbar-collapse.d-flex.justify-content-end.mr-5
				ul.navbar-nav
					li.nav-item
						a.nav-link(href='/') Trang chủ
					li.nav-item
					if (user && user.roles === 1)
						a.nav-link(href='/users/view-user') Quản lý người dùng
					li.nav-item
						a.nav-link(href='/products') Sản phẩm
						.dropdown
							button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							.dropdown-menu(aria-labelledby='dropdownMenuButton')
								a.dropdown-item(href='/products/manager-products/') Quản lý sản phẩm
								a.dropdown-item(href='/products/create-product/') Đăng sản phẩm
					if user
						.dropdown
							button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')=user.name
							.dropdown-menu(aria-labelledby='dropdownMenuButton')
								a.dropdown-item(href='/users/information-user/'+ user._id) Thông tin cá nhân
								a.dropdown-item(href='/users/change-password/'+ user._id) Đổi mật khẩu
								a.dropdown-item(href='/users/logout/') Đăng xuất
					else
						li.nav-item
							a.nav-link(href='/auth/login') Đăng nhập
					li.nav-item
						a.nav-link.btn.btn-outline-success(href='/cart') Giỏ hàng
						
		.container.pt-5
			block content